* {
    margin: 0;
    padding: 0;
}

.HeadPage {
    height: 50px;
    background-color: green;
}

.HeadPage h1 {
    color: white;
    padding-top: 5px;
    text-align: center;
}

.AddItem {
    display: flex;
    margin-top: 50px;
}

.AddItem input {
    margin-left: 10px;
}

.AddItem button {
    margin-left: 10px;
}

.ShowItems {
    display: flex;
    justify-content: center;
}

.ShowItems h2 {
    padding-top: 10px;
}

.ShowItems p {
    padding-top: 10px;
}

.ShowItems button {
    margin-top: 10px;
}