.container {
    display: grid;
    /* gap: 10px 5px; между строками - 10, между колонкам - 5px*/
    gap: 5px;
    grid-template-columns: repeat(2, 1fr); /* ШАБЛОН */
    grid-auto-rows: minmax(100px, auto);
  }
  
  .box {
    display: grid;
    border: 1px solid black;
  }
  
  .child_1 {
    justify-items: center;
  }
  
  .child_1 > button {
    height: 40px;
  }
  
  .child_2 {
    justify-items: center;
  }
  
  .child_2 > button {
    height: 40px;
  }
  
  .child_3 {
    grid-area: 1/ 2/ 5/ 4; /* row-start, column-start, row-end, column-end */
  }
  
  .child_3 #name {
    display: flex;
    justify-content: center;
    height: 30px;
  }
  
  .child_4 {
    grid-area: 3/1/6/2;
    padding: 24px 0 0 24px;
  }
  
  .child_4 #name {
    display: flex;
    justify-content: center;
  }
  
  
  .child_4 #num {
    display: flex;
  }
  
  .child_4 > button {
    align-self: center;
    width: fit-content;
    border-radius: 10px;
    border: none;
  }
  
  .child_4 > button:hover {
    background-color: darkgray;
  }
  
  .Output {
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 24px;
  }

  #btnShow {
    color: white;
    background-color: brown;
  }
  
  #btnShow:hover {
    color: white;
    background-color: rgb(132, 30, 30);
  }
  
  .child_5 {
    justify-items: center;
    grid-area: 5/2/6/4;
  }
  
  .child_5 > button {
    height: 40px;
  }

  .BtnCalculate {
    justify-content: center;
    padding: 12px 24px;
  }

  .BtnCalculate button:nth-last-child(1) {
    background-color: red;
  }


  .BtnCalculate button:nth-child(even) { 
    /*
     odd - нечетные
     even - четные
     2n - Выбирает каждый второй элемент среди любой группы соседних элементов
    */
    background-color: lime;
  }
